@charset "UFT-8";

html {
    font-size:100%;
}
body {
    color:#383e45;
    font-size:0.9rem;
}
a {
    text-decoration:none;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}
.site-title {
    display:inline-block;
    color:rgba(196, 238, 208, 0.952);
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.548);
    padding:0 20px;
    min-width: 300px;
}
.wrapper {
    max-width:960px;
    margin:0 auto 50px auto;
    padding:0.4%;
    text-align:center
    
}
.section-title {
    display: inline-block;
    font-size: 36px;
    text-align: center;
    border-bottom: dotted 5px  rgba(15, 235, 81, 0.952);
    margin: 60px 0;
}
.photo {
    width:300px;
}

/* header */
#header {
    max-width: 100%;
    height:100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin:o auto;
    background-color:rgba(0, 255, 221, 0.733);
}
#header .site-title {
    height:80px;
}
#header ul {
    display:flex;
}
#header li {
    margin-left:40px;
    font-size:20px;
}
#header li a {
    color:black;
}
#header li a:hover {
    opacity:0.7;
}

/* about */

#about .content {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 221, 0.733);
}
#about .content img {
    height:200px;
    width:200px;
    border-radius: 50%;
    margin:20px;
}
#about .content .text {
    letter-spacing: 0.5rem;
    
}
#about .content .text .content-title {
    line-height: 3rem;
}
#about .content .text p {
    line-height: 2rem;
}


/* 3section */

#exterior ul,
#interior ul,
#room ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#exterior li,
#interior li,
#room li {
    width:32%;
}
#exterior li p,
#interior li p,
#room li p {
    text-align: left;
    margin:5px 20px 40px 20px;
}



/* footer */

footer {
    padding:10px 0;
    text-align: center;
}

@media screen and (max-width:780px){
    h1 {
        font-size:30px;
    }
    #header .site-title {
        height:60px;
    }
}

@media screen and (max-width:500px){
    h1 {
        font-size:25px;
    }
    #header .site-title {
        height:60px;
    }
    #header ul {
        flex-direction: column;
    }
    #exterior ul,
    #interior ul,
    #room ul {
        flex-direction: column;
        
    }   
    #exterior li,
    #interior li,
    #room li {
        width:100%;
    }
    #exterior li p,
    #interior li p,
    #room li p {
        text-align: center;
    }
}
